body, html {
    margin: 0;
    font-family: monospace;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #333;
    background: #efefef;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: 400;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
}


.h1 {
    font-size: 100px;
    line-height: 104px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #333;
}


.content-container {
    max-width: 1028px;
    margin: 0 auto;
    padding: 24px 24px;
}

.content-container.wide {
    max-width: 100%;
    padding: 24px 100px;

}

.form p {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-content: center;
    margin-bottom: 32px;
    gap: 16px;
    font-size: 20px;
    position: relative;
}

input {
    appearance: none;
    border: none;
    box-shadow: 0px 0px 0px 3px #333;
    font-size: 18px;
    outline: none;
    transition: .2s;
    padding: 8px 16px;
    font-family: monospace;
    background: transparent;
}

input:focus {
    box-shadow: 0px 0px 0px 5px #333;
}

input:hover {
    box-shadow: 0px 0px 0px 4px #333;
}

input:active {
    box-shadow: 0px 0px 0px 3px #333;
}

.side-menu-icon {
    cursor: pointer;
    left: 0;
    transition: .2s;
    display: inline-block;
    position: fixed;
    top: 0;
}

.side-menu-icon.open {
    left: 250px;
}

.side-menu {
    top: 0;
    padding: 24px;
    background: white;
    position: fixed;
    height: 100%;
    width: 250px;
    transition: .2s;
    left: -250px;

    z-index: 10;
}

.side-menu.open {
    left: 0;
}


.side-menu-link {
    display: block;
    font-size: 18px;
    padding: 8px 16px;
    background: #333333;
    color: white;
    margin-bottom: 18px;
    transition: .2s;
    box-shadow: 0px 0px 0px 0px #333;

}

.side-menu-link:hover {
    box-shadow: 0px 0px 0px 5px #333;
}

.side-menu-link:active {
    box-shadow: 0px 0px 0px 3px #333;
}

.logo-img:hover {
    opacity: 0.8;
    transition: .2s;
}

.logo-img img {
    width: 100px;
    display: block;
    margin-bottom: 24px;
}

.button {
    appearance: none;
    border: none;
    background: #333;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #333;
    transition: .2s;

}

.button:hover {
    box-shadow: 0px 0px 0px 5px #333;

}

.button:active {
    box-shadow: 0px 0px 0px 3px #333;

}


td, th {
    border: 1px solid #333;
    padding: 12px;
    white-space: nowrap;
}

th {
    background: #333333;
    color: white;
}

tr {
    font-size: 16px;
    text-align: left;
}

table {
    border-collapse: collapse;
}


.search-input {
    width: 100%;
}


.modal {
    position: fixed;
    z-index: 6;
    background: white;
    font-size: 18px;
    line-height: 29px;
    padding: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    top: 400px;
}

.modal.close {
    display: none;
}

.cross {
    width: 20px;
    height: 20px;
    right: 10px;
    top: 8px;
    position: absolute;
}


.cross:after {
    content: '×';
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 27px;
}


ul {
    list-style: none;
    padding: 0;
}


.search-cross {
    font-size: 29px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer;
    transition: .2s;
}

.search-cross:hover {
    opacity: .8;
}

.search-input-wrapper {
    width: 250px;
    position: relative;
    margin-bottom: 24px;
}

.input-cross {
    font-size: 29px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer;
    transition: .2s;
}

.user-auth-cont{
    position: absolute;
    z-index: 2;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width 100px;
    height: auto;
}

.login-btn{
    font-size: 26px;
    margin: 0;
    color: black;
}

.login-btn:hover{
    color:red;
}

.user-name-txt{
    font-size: 26px;
    margin: 0;
}

.pop-up-logout{
    position: absolute;
    visibility: hidden;
    font-size: 22px;
    bottom: -45px;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid black;
    left: 50%;
    transform: translate(-50%, 0);
}

.user-name-txt:hover~.pop-up-logout{
    visibility: visible;
}

.pop-up-logout:hover{
    visibility: visible;
    color: red;
}

.login-box{
    position: absolute;
    width:100%;
    height:100%;
    z-index:4;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box-content{
    width: clamp(500px 500px 350px);
    height: auto;
    overflow: hidden;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px;
}

.login-input{
    width: 100%;
    height: auto;
}

.login-label{
    font-size: 20px;
}

.date-input::-ms-clear {
    display: none;
    height: 0;
    width : 0;
}

.date-input::-ms-reveal {
    display: none;
    height: 0;
    width : 0;
}

.date-input::-webkit-search-cancel-button,
.date-input::-webkit-search-decoration,
.date-input::-webkit-search-results-button,
.date-input::-webkit-search-results-decoration {
    display: none;
}


















