{% extends "base.html" %} {% load static %} {% block content %}



<div class="content-container">


    <h1 class="h1">Добавить видео в&nbsp;каталог</h1>

    <!--    <a href="{% url 'video_catalog_list' %}">-->
    <!--        <button class="btn btn-primary default-btn">Назад</button>-->
    <!--    </a>-->


    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}


        {{ form.as_p }}

        <button type="submit" class="button">
            Сохранить
        </button>
        <!--            <a-->
        <!--                    href="{% url 'video_catalog_list' %}"-->
        <!--                    class="btn btn-primary default-btn"-->
        <!--            >-->
        <!--                Список-->
        <!--            </a>-->
    </form>
</div>

{% endblock %}
