{% extends "base.html" %} {% load static %} {% block content %}

<div class="content-container wide">

  <h1 class="h1">Каталог видео</h1>


  <div class="search-input-wrapper">
  <input type="text" class="input search-input js-search-input" placeholder="Поиск">
    <div class="search-cross js-search-cross">×</div>
  </div>

  <table class="js-search-table" >
    <thead >
    <tr>
      <th>№ каталога</th>
      <th>Менеджер</th>
      <th>Дата добавления</th>
      <th>Исполнитель</th>
      <th>Название</th>
      <th>Хронометраж</th>
      <th>Тип</th>
      <th>Режиссёр</th>
      <th>Сценарист</th>
      <th>Композитор</th>
      <th>Год</th>
      <th>Youtube</th>
      <th>RuTube</th>
      <th>Яндекс</th>
      <th>VK</th>
      <th>Дзен</th>
      <th>UPC</th>
      <th>Файл</th>
    </tr>
    </thead>
    <tbody>
    {% for item in video_catalogs %}
    <tr>
      <td>vj{{ item.display_id }}</td>
      <td>{{ item.user.username }}</td>
      <td>{{ item.created_timestamp }}</td>
      <td>{{ item.performer }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.duration }}</td>
      <td>{{ item.video_type }}</td>
      <td>{{ item.director }}</td>
      <td>{{ item.screenwriter }}</td>
      <td>{{ item.composer }}</td>
      <td>{{ item.year }}</td>
      <td>
        <a target="_blank" href="{{ item.youtube_link }}">Ссылка</a>
        {% if item.youtube_link %} {% else %}  {% endif %}
      </td>
      <td>
        {% if item.rutube_link %}
        <a target="_blank" href="{{ item.rutube_link }}">Ссылка</a>
        {% else %} - {% endif %}
      </td>
      <td>
        {% if item.yandex_link %}
        <a target="_blank" href="{{ item.yandex_link }}">Ссылка</a>
        {% else %} - {% endif %}
      </td>
      <td>
        {% if item.vk_link %}
        <a target="_blank" href="{{ item.vk_link }}">Ссылка</a>
        {% else %} - {% endif %}
      </td>
      <td>
        {% if item.zen_link %}
        <a target="_blank" href="{{ item.zen_link }}">Ссылка</a>
        {% else %} - {% endif %}
      </td>
      <td>{{ item.upc }}</td>
      <td>
        {% if item.files %}
        <a href="{{ item.files.url }}">Файл</a>
        {% else %} - {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="9">Нет данных.</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <script>

    const items = [
    {% for item in video_catalogs %}
    {
      catalogNumber: '{{ item.catalog_number }}',
      performer: '{{ item.performer }}',
      title: '{{ item.title }}',
      duration: '{{ item.duration }}',
      video_type: '{{ item.video_type }}',
      director: '{{ item.director }}',
      screenwriter: '{{ item.screenwriter }}',
      composer: '{{ item.composer }}',
      year: '{{ item.year }}',
      youtube_link: '{% if item.youtube_link %}{{ item.youtube_link }}{% else %}{% endif %}',
      rutube_link: '{% if  item.rutube_link %}{{ item.rutube_link }}{% else %}{% endif %}',
      yandex_link: '{% if  item.yandex_link %}{{ item.yandex_link }}{% else %}{% endif %}',
      vk_link: '{% if  item.vk_link %}{{ item.vk_link }}{% else %}{% endif %}',
      zen_link: '{% if  item.zen_link %}{{ item.zen_link }}{% else %}{% endif %}',
      upc: '{{ item.upc }}',
      files: '{% if  item.files %}{{ item.files.url }}{% else %}{% endif %}',
    },
    {% empty %}
    {% endfor %}
    ]

  </script>

</div>
{% endblock %}
